.accommodation-place {
  margin: 0 5px 18px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.08);

  &__image {

  }

  &__descr {
    text-align: center;
    padding: 21px 0 30px;
    letter-spacing: 0.015em;
  }
}
