.accommodation-place {
  margin: 0 auto 18px;
  background-color: #fff;

  @media (min-width: @screen-sm) {
    .make-sm-column(5);
    width: 353px !important;
    padding: 0;
  }

  @media (min-width: @screen-lg) {
    width: 378px !important;
  }

  &:nth-child(n+3) {
    display: none;

    @media (min-width: @screen-sm) {
      display: inline-block;
    }
  }

  &--left {

    @media (min-width: @screen-sm) {
      margin-right: 18px;
    }

    @media (min-width: @screen-lg) {
      margin-right: 22px;
    }
  }

  &__image {
    width: 100%;
    min-height: 200px;
  }

  &__descr {
    text-align: center;
    padding: 21px 0 30px;
    letter-spacing: 0.015em;
  }

  &__title {
    margin-top: 19px;
    margin-bottom: 0;
    color: @gray--darkest;
    font-family: @font-family--caption;
    font-size: @font-size--block-title;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.015em;
  }

  &__price {
    font-family: @font-family;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    color: @gray--darkest;
    font-size: @font-size--small;
  }

  &__price-number {
    color: #ff7435;
    font-size: @font-size--promo;
    font-weight: 700;
  }
}
