.accommodation-place {
  margin: 0 auto 18px;
  background-color: #fff;

  &__image {
    width: 100%;
  }

  &__descr {
    text-align: center;
    padding: 21px 0 30px;
    letter-spacing: 0.015em;
  }
}
