.block-title {
  text-align: center;
  font-family: @font-family--caption;
  color: @colour-main;
  font-size: @font-size--block-title;

  &--narrow {
    padding: 0px 69px;
  }

  &--white {
    color: @btn-and-white-caption;
  }

  &--lighter {
    color: @gray--darkest;
  }
}