.btn {
  text-decoration: none;
  text-transform: uppercase;
  color: @btn-and-white-caption;
  font-size: @font-size--small;
  font-family: @font-family;
  letter-spacing: 0.05em;
  line-height: 18px;
  border: none;

  @media (min-width: @screen-lg) {
    text-align: center;
    padding: 7px 20px 6px;
  }

  &--icon-calendar {

    @media (min-width: @screen-lg) {
      border-radius: 18px;
      background-color: @color-btn;
    }

    &:before {

      @media (min-width: @screen-lg) {
        content: '';
        display: inline-block;
        margin-right: 9px;
        position: relative;
        top: 2px;
        width: 15px;
        height: 16px;
        background-image: url(../img/sprite.png);
        background-position: -51px 29px;
      }
    }

    &:hover {

      @media (min-width: @screen-lg) {
        background-color: @color-btn--darken;
      }
    }
  }

  &--bordered {
    padding: 12px 27px 9px;
    background-color: transparent;
    border-radius: 18px;
    border: 2px solid #fff;

    &:hover {
      background-color: #fff;
      color: @color-form-btn;
    }
  }

  &--large {
    width: 100%;
    padding: 14px 0;
    background-color: @color-form-btn;

    &:hover {
      background-color: @color-form-btn--dark;
    }
  }

  &--min-width-invisible {
    display: none;

    @media (min-width: @screen-lg) {
      display: inline-block;
    }
  }
}
