.entry-and-departure {

  @media (min-width: @screen-lg) {
    margin-top: 30px;
    margin-bottom: 46px;
  }

  &__item {

    @media (min-width: @screen-sm) {
      .make-sm-column(4);
      width: 30% !important;
      padding: 0 10px !important;
    }

    @media (min-width: @screen-lg) {
      .make-lg-column(2);
      width: 16.66666667% !important;
      padding-bottom: 53px !important;
      position: relative;
      background-color: #fff;
    }

    &:first-child:after {
      content: '';
      display: block;
      position: absolute;
      width: 1px;
      height: 88px;
      background-color: #ebebeb;
      left: 100%;
      top: 25px;
      z-index: 1;
    }
  }

  &__step-input-title {
    margin-top: 40px;
    display: block;
    color: @gray--darker;
    font-family: @font-family;
    font-size: @font-size--small;
    line-height: 18px;
    text-transform: uppercase;

    @media (min-width: @screen-lg) {
      margin-top: 26px;
    }
  }

  &__item-input-block {
    display: flex;
    margin: 15px auto 0;
    width: 180px;
    height: 50px;
    border: 1px solid @gray--light;

    @media (min-width: @screen-lg) {
      width: 134px;
      height: 27px;
    }
  }

  &__item-input {
    width: 54px;
    text-align: center;
    border: 0;
    border-right: 1px solid @gray--light;
    text-transform: uppercase;
    font-family: @font-family;
    font-size: @font-size--small;
    font-weight: 500;
    line-height: 18px;
    color: @color-form-btn;
    .placeholder-form({
    color: @gray;
    });

    @media (min-width: @screen-lg) {
      width: 39px;
    }
  }

  &__item-input:last-child {
    border-right: 0;

    &:focus {
      border-right: 1px solid #979696;
    }
  }

  &__item-input[name='entry-year'],
  &__item-input[name='departure-year'] {
    flex-grow: 2;
  }
}