.form {
  &__header {

  }

  &__header-inner {
    padding: 57px 0 32px;
    text-align: center;
  }

  &__header-title {
    margin-bottom: 31px;
    color: @colour-main;
    font-family: "Myriad Pro";
    font-size: @font-size--h2;
    font-weight: 400;
    letter-spacing: 0.05em;
  }

  &__text {
    padding: 0 47px;
    font-family: @font-family;
    font-size: @font-size;
    line-height: 20px;
  }

  &__text-phone {
    font-family: @font-family;
    font-weight: 500;
    color: #ff7435;
    text-decoration: none;
  }

  &__step {
    &--bg-lightgrey {
      background-color: #f1f1f1;
    }
  }

  &__step-inner {
    text-align: center;
    padding: 46px 0 53px;
  }

  &__step-number-title {
    display: inline-block;
    color: #929292;
    font-family: @font-family;
    font-size: @font-size--small;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
  }
}