.gallery {
  .container-fixed();
  padding: 0;

  @media (min-width: @screen-lg) {
    padding: 0 8%;
  }

  &__inner {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 49px;

    @media (min-width: @screen-sm) {
      padding-bottom: 50px;
    }

    @media (min-width: @screen-lg) {
      padding-bottom: 40px;
    }
  }

  &__main-img-list {
    padding: 0;
    overflow: hidden;

    @media (min-width: @screen-sm) {
      margin-bottom: 0;
    }
  }

  &__main-img-list-item {
    min-height: 260px;
  }

  &__nav-img-list {
    display: none;

    @media (min-width: @screen-sm) {
      display: inline;
      padding-left: 0;
    }
  }

  &__main-img {
    width: 100%;
    min-height: 260px;

    @media (min-width: @screen-sm) {
    }

    @media (min-width: @screen-lg) {
      height: 500px;
    }
  }

  &__nav-img-list-item {
    width: 5% !important;
  }

  &__nav-img {

    @media (min-width: @screen-sm) {
      width: 100%;
    }
  }
}
