.main-nav {
  display: none;

  @media (min-width: @screen-lg) {
    .make-lg-column(5);
    padding: 12px 0 0;
  }

  &__list {
    display: none;

    @media (min-width: @screen-lg) {
      display: block;
      padding-left: 28px;
      margin: 0;
      font-size: 0;
    }
  }

  &__item {
    padding: 10px;

    @media (min-width: @screen-lg) {
      display: inline-block;
    }
  }

  &__link {
    padding-left: 0;
    padding-right: 0;
    letter-spacing: 0.05em;

    @media (min-width: @screen-lg) {
      display: block;
      line-height: 14px;
      font-family: @font-family;
      font-size: @font-size--small;
      text-decoration: none;
      text-transform: uppercase;
      color: @gray--darkest;
    }

    &--active {
      color: @color-btn !important;
      font-weight: 500;
    }
  }

  &__mobile {
    padding-left: 24px;

    @media (min-width: @screen-lg) {
      display: none;
    }
  }

  &__mobile-list {
    margin: 0;
    margin-top: 79px;
    width: 100%;
    display: none;
    padding: 0 20px;
    position: absolute;
    top: 11%;
    right: 0;
    z-index: 2;
    list-style: none;
    background-color: #fff;

    &--visible {
      display: inline-block;
    }
  }

  &__mobile-item {
    padding: 10px 20px;
    display: block;
    text-align: center;
    border-bottom: 1px solid #ebebeb;
  }

  &__mobile-link {
    color: @colour-main;
    font-size: @font-size--small;
  }
}
