.offers {
  .container-fixed();
  padding: 0;

  &__inner {
    padding-bottom: 35px;
  }

  &__title {
    padding: 0 25px;
    margin: 47px 0 31px;
    text-align: center;
    font-family: @font-family--caption;
    color: @colour-main;
    font-size: @font-size--block-title;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.05em;
  }

  &__item {
    padding-top: 157px;
    padding-bottom: 20px;
    background-image: url(../img/offers_item-320px.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__item-descr {
    padding-left: 18px;
    padding-bottom: 2px;
    max-width: 296px;
    opacity: 0.9;
    background-color: #fff;
  }

  &__item-descr-title {
    display: inline-block;
    margin-top: 17px;
    font-family: @font-family;
    font-size: @font-size--promo;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    color: #ff7435;
    letter-spacing: 0.015em;
  }

  &__item-descr-text {
    margin-top: 12px;
    color: @gray--darkest;
    font-size: @font-size;
    line-height: 20px;
  }
}
