.page-footer {
  padding: 25px 0 7px;
  text-align: center;
  border-top: 1px solid @gray--light;

  &__address {
    display: none;
    font-size: @font-size--small;
  }

  &__logo-set {
    text-align: center;
  }

  &__logo {
    margin-left: 0;
  }

  &__social-links {
    padding-left: 0;
    margin-left: 90px;
    width: 143px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    background-image: url(../img/sprite.png);
  }

  &__social-item {
    display: inline-block;
  }

  &__link {
    text-align: center;
    vertical-align: top;
    color: transparent;
    text-decoration: none;

    &--vk {

    }

    &--instagram {

    }

    &--fb {

    }
  }

  &__contacts {
    display: none;
  }
}