.payment-form {
  margin-top: 40px;

  @media (min-width: @screen-sm) {
    display: flex;
  }

  @media (min-width: @screen-lg) {
    .make-lg-column(7);
    width: 59% !important;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  &__to-pay-block {

    @media (min-width: @screen-sm) {
      order: 2;
      .make-sm-column(7);
      width: 59% !important;
      padding-left: 0;
      padding-right: 0;
    }

    @media (min-width: @screen-lg) {
      width: 60% !important;
    }
  }

  &__arrival {
    margin-bottom: 20px;
    padding: 23px 40px 0;
    min-height: 60px;
    background-color: #fff;
    border: 1px solid @gray--light;
    text-align: left;

    @media (min-width: @screen-sm) {
      .make-row();
      .clearfix();
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 24px;
      padding-left: 20px;
      padding-right: 20px;
    }

    @media (min-width: @screen-lg) {
      padding-right: 0;
    }
  }

  &__arrival-label {

    @media (min-width: @screen-sm) {
      .make-sm-column(4);
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__radio-input {

    &[type='radio'] {
      display: none;
    }
  }

  &__block-title {
    display: block;
    padding-left: 36px;
    position: relative;
    font-size: @font-size--small;
    line-height: 18px;
    font-family: @font-family;
    color: @gray--darker;
    text-transform: uppercase;
    font-weight: 500;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 2px;
      left: 0;
      background-image: url(../img/sprite.png);
      background-position: -177px -127px;
      width: 16px;
      height: 12px;
    }

    &--grey {

    }
  }

  &__arrival-descr {
    display: none;

    @media (min-width: @screen-sm) {
      display: block;
      .make-sm-column(7);
      margin-top: 0;
      padding-left: 0;
      padding-right: 33px;
      color: @gray--darker;
      font-family: @font-family;
      font-size: @font-size--small;
      line-height: 18px;
    }

    @media (min-width: @screen-lg) {
      width: 61%;
      padding-right: 0;
    }
  }

  &__now-arrival {
    padding: 20px 40px 25px;
    background-color: #fff;
    border: 1px solid @gray--light;
    text-align: left;

    @media (min-width: @screen-sm) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @media (min-width: @screen-lg) {
      padding-right: 0;
    }
  }

  &__now-arrival-label {

    @media (min-width: @screen-sm) {
      .make-sm-column(4);
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__now-arrival-input {
    width: 100%;
    height: 40px;
    text-align: center;
    border: 1px solid #ebebeb;
    color: @gray--darkest;
    font-family: @font-family;
    font-size: @font-size--small;
    line-height: 18px;
    .placeholder-form({
    color: @gray;
    font-family: @font-family;
    font-size: @font-size--small;
    line-height: 18px;
    text-transform: uppercase;
    });

    &[type='radio'] {
      display: none;
    }

    &--short {
      width: 58%;

      @media (min-width: @screen-sm) {
        width: 100%;
      }
    }
  }

  &__now-arrival-input-tooltip {
    display: none;

    @media (min-width: @screen-lg) {
      display: inline-block;
      position: relative;
      width: 16px;
      height: 17px;
      top: 3px;
      margin-left: 47%;
      background-image: url(../img/sprite.png);
      background-position: -189px -63px;
    }

    &:hover &-text {

      @media (min-width: @screen-lg) {
        display: block;
      }
    }
  }

  &__now-arrival-input-tooltip-text {

    @media (min-width: @screen-lg) {
      display: none;
      background-color: #fff;
      padding: 10px;
      border: 1px solid @gray--light;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translate(0, -50%);
      width: 300px;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    }
  }

  &__now-arrival-descr {
    display: none;

    @media (min-width: @screen-sm) {
      display: block;
      .make-sm-column(7);
      margin-top: 0;
      padding-left: 0;
      padding-right: 0;
      color: @gray--darker;
      font-family: @font-family;
      font-size: @font-size--small;
      line-height: 18px;
    }

    @media (min-width: @screen-lg) {
      width: 65%;
    }
  }

  &__now-arrival-text-label-left-column {

    @media (min-width: @screen-sm) {
      .make-sm-column(7);
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__now-arrival-text-label-right-column {

    @media (min-width: @screen-sm) {
      .make-sm-column(4);
      width: 40.333333% !important;
    }
  }

  &__now-arrival-text-label:last-child .payment-form__now-arrival-input-title {

    @media (min-width: @screen-sm) {
      margin-top: 18px;
    }
  }

  &__now-arrival-input-title {
    display: block;
    margin-top: 21px;
    margin-bottom: 13px;
    color: @gray--darker;
    font-family: @font-family;
    font-size: @font-size--small;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;

    @media (min-width: @screen-sm) {
      display: inline-block;
      margin-top: 10px;
    }
  }

  &__bill-block {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 23px 40px 22px;
    display: inline-block;
    background-color: #fff;
    border: 1px solid @gray--light;

    @media (min-width: @screen-sm) {
      order: 1;
      .make-sm-column(4);
      width: 37% !important;
      margin-right: 16px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__bill-block-title {
    color: @gray--darker;
    font-family: @font-family;
    font-size: @font-size--small;
    line-height: 18px;
    text-transform: uppercase;
  }

  &__bill-block-sum {
    color: @gray--darkest;
    font-family: @font-family;
    font-size: 24px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
  }

  &__bill-block-descr {
    display: none;
    text-align: left;
    color: @gray--darker;
    font-family: @font-family;
    font-size: @font-size--small;
    line-height: 19px;
  }

  &__bill-block-notice {
    font-size: @font-size--small;
    font-family: @font-family;
    line-height: 19px;
    color: @gray--darker;
    text-decoration: none;
  }
}

.payment-form__radio-input:checked + .payment-form__block-title:before {
  background-position: -143px -82px;
}

