.rest-tabs {
  padding-bottom: 96px;
  background-image: url(../img/rest-tabs-background-320px.png);
  background-size: cover;
  background-repeat: no-repeat;

  &__inner {
    .container-fixed();
  }

  &__switcher {
    .make-row();
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
  }

  &__tab {
    .make-grid(xs);
    display: inline-block;
    font-family: @font-family;
    font-size: @font-size--small;
    line-height: 54px;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    &:first-child {
      margin-right: 11px;
    }

    &:last-child {
      margin-left: 11px;
    }

    &--active {

      & a {
        color: @color-btn;
        font-weight: 500;

        &:after {
          content: "";
          display: block;
          position: relative;
          width: 30px;
          height: 2px;
          background-color: #ff7435;
          -webkit-transform: translate(-50%);
          transform: translate(-50%);
          left: 50%;
          top: -14px;
        }
      }
    }
  }

  &__link {
    color: #838383;

    &:hover {
      text-decoration: none;
    }

  }

  &__item {
    display: none;

    &--active {
      display: inline;
    }
  }

  &__item-header {
    text-align: center;
    margin-top: 36px;
    padding: 0 40px;
    font-family: @font-family--caption;
    color: @colour-main;
    font-size: @font-size--block-title;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.05em;
  }

  &__list {
    display: none;
  }
}
