.rest-place {
  display: flex;
  border: 1px solid #ebebeb;

  @media (min-width: @screen-sm) {
    width: 57%;
    margin: 0 auto;
  }

  @media (min-width: @screen-lg) {
    .make-lg-column(4);
    padding-left: 0;
    padding-right: 0;
    display: flex;
  }

  &__item {
    .make-xs-column(6);
    padding: 28px 0 5px;
    display: block;
    font-size: 0;

    &:first-child {

      &:after {
        content: '';
        display: block;
        position: relative;
        width: 1px;
        height: 107px;
        background-color: @gray--light;
        left: 100%;
        top: -21px;
      }
    }
  }

  &__item-rest-place {

  }

  &__item-input-block {

  }

  &__item-input {
    text-align: center;
    border: 1px solid @gray--light;
    text-transform: uppercase;
    font-family: @font-family;
    color: @gray;
  }
}