.room-info {
  .container-fixed();

  &__inner {
    .make-row();
    .clearfix();
    padding-bottom: 31px;

    @media (min-width: @screen-sm) {
      padding-bottom: 81px;
    }

    @media (min-width: @screen-lg) {
      padding-left: 7%;
      padding-right: 7%;
      padding-bottom: 31px;
    }
  }

  &__inner-lg {
    display: flex;
  }

  &__title-block {
    margin-top: 45px;
    margin-bottom: 26px;
    text-align: center;
    word-wrap: break-word;

    @media (min-width: @screen-sm) {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }

  &__title {
    margin-bottom: 0;
    color: @colour-main;
    font-family: @font-family--caption;
    font-size: @font-size--h2;
    font-weight: 500;
    letter-spacing: 0.05em;
  }

  &__price {
    margin-top: 7px;
    font-family: @font-family;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    color: @gray--darkest;
    font-size: @font-size--small;
  }

  &__price-number {
    color: @color-btn;
    font-size: @font-size--promo;
  }

  &__slider {
    position: relative;

    & .slick-arrow {

      @media (min-width: @screen-sm) {
        display: block !important;
      }
    }

    & .slick-prev,
    & .slick-next {
      display: none !important;

      @media (min-width: @screen-sm) {
        position: absolute;
        display: block !important;
        height: 20px;
        width: 20px;
        line-height: 0;
        font-size: 0;
        cursor: pointer;
        background: transparent;
        color: transparent;
        top: 50%;
        margin-top: -10px '\9'; /*lte IE 8*/
        transform: translate(0, -50%);
        padding: 0;
        border: none;
        outline: none;
        z-index: 1;

        &:hover,
        &:focus {
          outline: none;
          background: transparent;
          color: transparent;

          &:before {
            opacity: @slick-opacity-on-hover;
          }
        }

        &.slick-disabled:before {
          opacity: @slick-opacity-not-active;
        }
      }
    }



    & .slick-prev:before,
    & .slick-next:before {

      @media (min-width: @screen-sm) {
        content: '';
        cursor: pointer;
        width: 25px;
        height: 25px;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: rotate(45deg);
        float: left;
        opacity: 1;
        background: none;
        border-radius: 0;
        margin: 0;
        padding: 0;
      }
    }

    & .slick-prev {

      @media (min-width: @screen-sm) {
        left: 3%;
        top: 50%;
      }

      &[dir='rtl'] {

        @media (min-width: @screen-sm) {
          left: auto;
          right: -25px;
        }
      }

      &:before {

        @media (min-width: @screen-sm) {
          content: @slick-prev-character;
        }

        &[dir='rtl'] {

          @media (min-width: @screen-sm) {
            content: @slick-next-character;
          }
        }
      }
    }

    & .slick-next {

      @media (min-width: @screen-sm) {
        right: 3.5%;
        top: 50%;

        &[dir='rtl'] {
          left: -25px;
          right: auto;
        }

        &:before {
          transform: rotate(-135deg);
          content: @slick-next-character;

          &[dir='rtl'] {
            content: @slick-prev-character;
          }
        }
      }
    }

    @media (min-width: @screen-lg) {
      display: none;
    }
  }

  &__slider-visible-lg {
    display: none;

    @media (min-width: @screen-lg) {
      .make-lg-column(6);
      display: block;
      padding-left: 0;
      padding-right: 0;
    }

    & .slick-prev {
      left: 5%;
      top: 50%;
    }

    & .slick-next {
      right: 5%;
      top: 51%;
    }
  }

  &__slider-zoom {
    display: none;

    @media (min-width: @screen-sm) {
      display: inline-block;
      width: 22px;
      height: 22px;
      background-image: url(../img/sprite.png);
      background-position: -162px -88px;
      position: absolute;
      top: 20px;
      right: 21px;
      cursor: pointer;
      z-index: 1;
    }
  }

  &__slider-img {
    width: 100%;
    min-height: 260px;

    @media (min-width: @screen-sm) {
      min-height: 524px;
    }

    @media (min-width: @screen-sm) {
      min-height: 397px;
    }
  }

  &__info-wrapper {
    padding-left: 6%;
    padding-right: 6%;

    @media (min-width: @screen-lg) {
      .make-lg-column(6);
    }
  }

  &__about-block {

    @media (min-width: @screen-sm) {
      margin-top: 49px;
    }

    @media (min-width: @screen-lg) {
      margin-top: 0;
    }
  }

  &__info-wrapper-block-title {
    margin-top: 49px;
    margin-bottom: 14px;
    text-align: left;
    color: @gray--darkest;
    font-family: @font-family--caption;
    font-size: @font-size--block-title;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.02em;

    @media (min-width: @screen-sm) {
      margin-top: 42px;
    }

    @media (min-width: @screen-sm) {
      margin-top: 38px;
    }
  }

  &__info-wrapper-about-block-title {

    @media (min-width: @screen-lg) {
      margin-top: 0;
    }
  }

  &__about-block-text {
    margin-top: 30px;
    text-align: left;
    color: @gray--darkest;
    font-family: @font-family;
    font-size: @font-size;
    line-height: 22px;

    @media (min-width: @screen-sm) {
      .make-sm-column(10);
      margin-top: 15px;
      padding-left: 0;
      font-size: @font-size;
    }

    @media (min-width: @screen-lg) {
      width: 100%;
    }
  }

  &__accommodation {

  }

  &__list {
    display: block;
    padding-left: 0;
    margin-top: 29px;

    @media (min-width: @screen-sm) {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 140px;
      width: 85%;
      margin-top: 24px;
    }

    @media (min-width: @screen-lg) {
      height: 110px;
    }
  }

  &__list-included {

    @media (min-width: @screen-sm) {
      height: auto;
    }

    @media (min-width: @screen-lg) {
      height: auto;
    }
  }

  &__list-item {
    text-align: left;
    display: block;
    margin-top: 6px;
    position: relative;
    font-size: @font-size;
    line-height: 22px;
    color: @gray--darkest;
    font-family: @font-family;

    @media (min-width: @screen-sm) {
      .make-sm-column(6);
      width: 52% !important;
      padding-left: 0;
      font-size: @font-size;
    }

    @media (min-width: @screen-lg) {
      .make-lg-column(9);
      width: 62% !important;
      margin-top: 0;
      padding-left: 0;
      font-size: @font-size;
    }

    &:before {
      content: '';
      display: inline-block;
      margin-right: 4px;
      position: relative;
      width: 6px;
      height: 10px;
      background-image: url(../img/sprite.png);
      background-position: -118px -131px;
    }
  }

  &__included {

  }

  &__btn-block {
    width: 57%;
    margin: 45px auto 0;
    text-align: center;

    @media (min-width: @screen-sm) {
      width: 23.7%;
      margin-top: 37px;
    }

    @media (min-width: @screen-lg) {
      width: 15.6%;
      margin-top: 75px;
    }
  }

  &__btn {
    margin-bottom: 10px;
  }
}