/*
Файл для отдельной подгрузки WOFF-версии файла JS-ом.
Будет обработан при сборке: в url() будет подставлена base64 кодированная версия указанного файла
*/

@font-face {
  font-family: 'PT Sans';
  src: url('pt-sans-v8-latin_cyrillic-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('pt-sans-v8-latin_cyrillic-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}