/*
Файл для отдельной подгрузки WOFF2-версии файла JS-ом.
Будет обработан при сборке: в url() будет подставлена base64 кодированная версия указанного файла
*/

@font-face {
  font-family: 'PT Serif';
  src: url('pt_serif-web-regular-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}