/*
Файл для отдельной подгрузки WOFF-версии файла JS-ом.
Будет обработан при сборке: в url() будет подставлена base64 кодированная версия указанного файла
*/

@font-face {
  font-family: 'PT Serif Caption';
  src: url('ptserifcaption-400-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}